{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
<style>

</style>

<div id="menu">
    <ul>
        <li class="personal_data">Maciej</li>
        <li class="personal_data">Milewski</li>
    </ul>
</div>
{% endblock %}
