{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
<style>
.personal_data
{
    color: #f00;
}
</style>

<div id="menu">
    <ul>
        <li class="personal_data">{{ userName }}</li>
    </ul>
</div>
{% endblock %}
